/* Generales*/
.h1-strong{ 
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
}

/* Cabecera */
.navigation{
    padding: 0px!important;

}

.navigation .navbar{
    border-radius: 0px !important;
    background-color: #f56868;
    border-color: #ff0000;
}

.navigation .navbar *{
    color: white!important;
}

.active{
    border-bottom: 3px solid rgb(255, 174, 0);
    background: tomato!important;
}
.navigation .navbar a:hover{
    background: tomato!important;
}
