<div class="col-lg-5">
    <h1 class="h1-strong">{{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente, <a [routerLink]="['login']">identificate aqui.</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Registro no completado, el apodo y/o el email ya estan en uso, intentalo de nuevo cambiando esos valores
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" id="name" class="form-control" required>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" id="surname" class="form-control" required>
            <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
            </span>
        </p>
        <p>
            <label for="nick">Apodo</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" id="nick" class="form-control" required>
            <span *ngIf="!nick.valid && nick.touched">
                El apodo es obligatorio
            </span>
        </p>
        <p>
            <label for="email">Email</label>
<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" id="email" class="form-control" required
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched">
                El correo no es correcto
            </span>

        </p>

        <p>
            <label for="password">Contraseña</label>
<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="password" class="form-control"
    required>
            <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
            </span>
        </p>

        <input type="submit" value="{{ title }}" class="btn btn-success" [disabled]="!registerForm.form.valid" />
    </form>
</div>