<div class="col-lg-5">
    <h1 class="h1-strong">{{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Bienvenido, te has identificado correctamente.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No te has identificado correctamente.
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>Correo electronico</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched">
                El email no es correcto
            </span>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
                required>
            <span *ngIf="!password.valid && password.touched">
                El campo contraseña no es valido
            </span>
        </p>

        <input type="submit" value="{{ title }}" class="btn btn-success" [disabled]="!loginForm.form.valid">
    </form>
</div>